html{
    background-color: #0d2b45;
    min-height: 100%;
    min-width: 100%;
}
.background{
    color: #ffecd6;
    align-items: center;
    background-color: #0d2b45;
    min-height: 100%;
    min-width: 100%;
}

body{
    padding: 0;
    margin: 0;
    background-color: #ffaa5e;
    color:#ffaa5e
}
.siteTitle{
    text-align: center;
    background-color: #ffaa5e;
}

.jobListing{
    margin: 1%;
    margin-bottom: 10%;
    background-color: #544e68;
    color: #ffecd6;
    padding-bottom: 10px;
    border-style:outset;
    border-color: #d08159;
}

.learnMore{
    position:inherit;
    /* margin-left: 85%; */
    background-color: #203c56;
    color: #ffaa5e;
    border-color: #ffecd6;
    
}

.addInfo{
    background-color: #8d697a;
    border: 1px inset;
    margin: 5px;
    margin-top: 15px;
}

.descr{
    background-color: #8d697a;
}

.tag{
    color:#d08159
}